


.pets-friends {
padding-top: 80px;
padding-right: 40px;
padding-bottom: 100px;
padding-left: 40px;


    background-color: var(--background-color);
}

.friends-title {
    text-align: center;
    margin-bottom: 45px;
}




.pets-list-2 {
    display: flex;
   justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;

    margin-bottom: 45px;
}

.pets-item-2 {
    position: relative;
    width: 270px;
    height: 435px;
    border-radius: 9px;

    background-color: var(--link-hover-color);
}

.pets-link-2 {
    width: 100%;
    height: 100%;
}

.pets-link-2 p {
    margin-top: 30px;

    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;

    color: var(--title-color);
}

.button-learn-2 {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 187px;
    height: 52px;
    border: 2px solid var(--primary-color);
    border-radius: 100px;

    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: var(--button-text-color);
    background-color: transparent;

    transition: background-color 250ms linear, border-color 250ms linear;
}

.button-learn-2:hover,
.pets-item-2:hover .button-learn-2 {
    border-color: transparent;
    background-color: var(--primary-hover-color);
}

.pets-nav-block {
    display: flex;
justify-content: center;
column-gap: 20px;
}

.button-nav-1 {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid var(--link-color);

    font-family: 'Georgia', serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;

        color: var(--link-color);
    background-color: transparent;
}

.button-nav-2 {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);

    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;

    color: var(--button-text-color);
    background-color: transparent;

    transition: background-color 250ms linear, border-color 250ms linear;
}

.button-nav-2:hover {
    background-color: var(--primary-hover-color);
    border-color: transparent;
}

.nav-number {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 2px solid var(--primary-color);
    
        font-family: 'Georgia', serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
    
        color: var(--button-text-color);
        background-color: var(--primary-color);
}
