.footer-background {
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer {
 padding-top: 1.87rem;
 padding-right: 0.62rem;
 padding-bottom: 0;
 padding-left: 0.62rem;

 @media screen and (min-width: 767px) {
    padding-top: 1.87rem;
        padding-right: 1.87rem;
        padding-bottom: 0;
        padding-left: 1.87rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
 }

 @media screen and (min-width: 1280px) {
    padding-top: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 0;
        padding-left: 2.5rem;

        display: flex;
        justify-content: space-between;
 }
}

.footer-image {
    @media screen and (min-width: 767px) {
        grid-column-start: 1;
        grid-column-end: 4;
        margin-top: 65px;
        margin-left: 204px;
        }

        @media screen and (min-width: 1280px) {
            margin-top: 0px;
        margin-left: 0px;
        }
}

.footer-title {
font-family: 'Georgia';
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    margin-bottom: 40px;

    @media screen and (min-width: 767px) {
        font-size: 35px;
    }
}

.footer-contacts {
   margin-bottom: 40px;

   @media screen and (min-width: 767px) {
    margin-bottom: 0;
   }
}

.footer-locations {
    margin-bottom: 40px;

    @media screen and (min-width: 767px) {
        margin-bottom: 0;
    }
}

.footer-contacts-item:not(:last-child) {
    margin-bottom: 40px;
}

.footer-locations-item:not(:last-child) {
    margin-bottom: 32px;
}

.footer-contacts-icon {
    width: 40px;
    height: 32px;
    margin-right: 20px;
}

.footer-locations-icon {
    width: 22px;
    height: 32px;
    margin-right: 20px;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link:hover p {
    color: $primary-hover-color;
}

.footer-link p {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;

    color: $primary-color;

    transition: color 250ms linear;
}