.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 1.25rem;
    padding-left: 1.25rem;
 
  margin-bottom: 3.75rem;

  @media screen and (min-width: 767px) {
    padding-right: 1.87rem;
        padding-left: 1.87rem;
  }

   @media screen and (min-width: 1280px) {
       padding-right: 2.5rem;
       padding-left: 2.5rem;
       margin-bottom: 5.62rem;
   }
}

.header-pets {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

