.button-burger {
    background-color: transparent;

    @media screen and (min-width: 767px) {
        display: none;
    }
}

.icon-burger-vertical {
    display: none;
}

.icon-burger-main {
    stroke: $primary-color;
transition: stroke 250ms linear;
    
        &:hover {
            stroke: $primary-hover-color;
        }
}

.icon-burger-pets {
    stroke: #000000;
    transition: stroke 250ms linear;

    &:hover {
        stroke: $primary-color;
    }
}