.button-modal-close {
    width: 52px;
    height: 52px;

    border: 2px solid $primary-color;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 240px;
    height: 380px;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

    background-color: $link-hover-color;

    @media screen and (min-width: 767px) {
        display: flex;
        justify-content: space-between;

        width: 630px;
        height: 350px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
        width: 900px;
        height: 500px;

        padding-top: 50px;
            padding-right: 20px;
            padding-bottom: 0;
    }
}

.modal-content {
    @media screen and (min-width: 767px) {
        width: 260px;
    }

    @media screen and (min-width: 1280px) {
       width: 351px; 
    }
}

.modal-title {
    font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;

        margin-bottom: 10px;

        color: #000000;

        @media screen and (min-width: 767px) {
            text-align: left;
        }
}

.modal-subtitle {
    font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        text-align: center;

        margin-bottom: 20px;
    
        color: #000000;

        @media screen and (min-width: 767px) {
                text-align: left;
            }

            @media screen and (min-width: 1280px) {
                margin-bottom: 40px;
            }
}

.modal-text {
    font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 110%;
        text-align: left;
        letter-spacing: 0.06em;

        margin-bottom: 24px;
    
        color: #000000;

        @media screen and (min-width: 1280px) {
font-size: 15px;
margin-bottom: 40px;
            }
}

.modal-list {
    font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
    
        color: #000000;
}
 
.modal-item:not(:last-child) {
    margin-bottom: 5px;

    @media screen and (min-width: 1280px) {
        margin-bottom: 10px;
    }
}

.modal-img {
    @media screen and (max-width: 766px) {
        display: none;
    }
    width: 50%;
}

.button-icon-vector {
display: none;

position: fixed;
top: 33%;
    left: 83%;
    transform: translate(-50%, -50%);


    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid $primary-color;

    background-color: transparent;

    transition: background-color 250ms linear, border-color 250ms linear;

    &:hover {
        background-color: $primary-hover-color;
        border-color: transparent;
    }

    @media screen and (min-width: 767px) {
        left: 90%;
    }

        @media screen and (min-width: 1280px) {
            top: 28%;
                left: 87%;

        }

                 &.is-open {
                     display: block;
                 }
}

