$primary-color: #F1CDB3;
$primary-hover-color: #FDDCC4;
$link-color: #CDCDCD;
$text-about-color: #4C4C4C;
$link-color: #CDCDCD;
$link-hover-color: #FAFAFA;
$button-text-color: #292929;
$title-color: #545454;
$background-color: #F6F6F6;